@import "tailwindcss";

@theme{
    --color-custom-clr1: #A1A1A1;
    --color-custom-border: #e1e1e1;
    --color-navlink: #3C369D;
    /* --color-custom-para: #8C8C8C; */
}


*{
    /* margin:0; */
    /* padding:0; */
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fff;
}

